body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: blanchedalmond;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
h3 {
  font-size: 2.5vw;
  line-height: 0.4em;
  color: rgb(48, 39, 25);
}
/* 문제 번호 */
h4 {
  color: grey;
  font-size: 25px;
  margin-block-start: 0.1em;
  margin-block-end: 0em;
  line-height: 1.15;
}

td {
  min-width: 12.7vw;
  padding-bottom: 1.2vh;
  padding-right: 1vw;
}

/* 단어 등 */
h5 {
  line-height: 0.05;
  font-size: 20px;
  margin-block-start: 0.87em;
  margin-block-end: 1.05em;
}

.yomigana,
.tango {
  font-family: "Noto Sans JP", sans-serif;
}

.yomigana {
  margin-top: 1.15em;
  font-size: 2vw;
  letter-spacing: normal;
  color: rgb(76, 91, 139);
}

.tango {
  font-size: 4.1vw;
  letter-spacing: normal;
  color: rgb(21, 2, 22);
}

.korMeaning {
  letter-spacing: normal;
  font-size: 2.5vw;
  color: rgb(16, 16, 56);
}

h4.instruction {
  font-size: 16px;
  color: brown;
  margin-bottom: 1.5vh;
  line-height: 1.4;
}

h4.problemNumber {
  line-height: 0.8;
}

h3.btnAnswer {
  background-color: rgb(44, 151, 142);
  color: aliceblue;
  font-size: 2vw;
  padding: 1vw 3vw;
  border-radius: 50px;
  position: fixed;
  display: block;
  top: 2vh;
  right: 7vw;
  margin-right: auto;
  line-height: normal;
}

.btnAnswer:hover {
  color: rgb(235, 235, 55);
  background-color: rgb(0, 0, 71);
  transition: all 0.3s;
}

input,
select {
  font-family: "Noto Sans KR", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;
  border: none;
}

select {
  width: 42%;
  font-weight: 900;
  box-sizing: border-box;
  background-color: cadetblue;
  border-radius: 15px;
}

input {
  font-size: 2.2vw;
  color: aliceblue;
  width: 17%;
  padding: 0.6em 0em;
  box-sizing: border-box;
  background-color: darkslategrey;
  border-style: none;
  border-radius: 120px;
}

input:hover {
  background-color: rgb(0, 0, 71);
  color: rgb(235, 235, 55);
  transition: all 0.3s;
}

#pageSelector {
  font-size: 2.2vw;
  padding: 0.5em 2.8em;
}

#numSelector {
  font-size: 2.2vw;
  padding: 0.5em 6.5em;
  letter-spacing: 0.1em;
  margin-bottom: 5vh;
}

/* select:active {
  background-color: aquamarine;
}
option {
    filter: hue-rotate(90deg);
}
select:hover {
  background-color: lightcoral;
} */

/* select option {
  filter: opacity(0.5);
} */

.resultTable {
  padding-top: 1.2vh;
  margin-left: auto;
  margin-right: auto;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.space {
  margin-top: 5vw;
}

.spaceResult {
  margin-top: 3.5vw;
}

h4.dataInfo {
  color: rgb(119, 25, 72);
  margin-bottom: 0.35em;
}

@media screen and (max-width: 858px) {
  select {
    width: 60%;
    background-color: rgb(141, 255, 211);
    color: rgb(19, 2, 16);
    border-radius: 4px;
  }

  input {
    font-size: 4.2vw;
    color: aliceblue;
    width: 29%;
    border-radius: 3em;
  }

  #pageSelector {
    font-size: 3.2vw;
    padding: 0.6em 1.5em;
    margin-bottom: 0.2vh;
  }

  #numSelector {
    font-size: 3.2vw;
    padding: 0.6em 5.9em;
    letter-spacing: 0.1em;
    margin-bottom: 5vh;
  }

  h3 {
    font-size: 4vw;
  }
  /* 문제 번호 */
  h4 {
    color: grey;
    font-size: 3vw;
    margin-block-start: 0.1em;
    margin-block-end: 0em;
    line-height: 1.3;
  }

  /* 단어 등 */
  h5 {
    line-height: 0.05;
    font-size: 3vw;
    margin-block-start: 1em;
    margin-block-end: 1.3em;
  }

  td {
    min-width: 14vw;
    padding-bottom: 0.5vh;
    padding-right: 2vw;
  }

  .yomigana {
    margin-top: 1.1em;
    font-size: 2.4vw;
    letter-spacing: normal;
    color: rgb(76, 91, 139);
  }

  .tango {
    font-size: 4.1vw;
    color: rgb(21, 2, 22);
  }

  .korMeaning {
    font-size: 2.8vw;
    color: rgb(16, 16, 56);
  }

  h4.instruction {
    font-size: 2.8vw;
    color: brown;
    margin-bottom: 2vh;
    line-height: 0;
  }

  h3.btnAnswer {
    font-size: 15px;
    padding: 1vw 3vw;
    border-radius: 50px;
    position: fixed;
    display: block;
    top: 1.4vh;
    right: 4.5vw;
    margin-right: auto;
    line-height: normal;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    margin-top: 3.5vw;
    margin-bottom: 2.5vw;
  }

  #pageSelector {
    font-size: 3.05vw;
    padding: 0.5em 2.65em;
  }

  #numSelector {
    font-size: 3vw;
    padding: 0.5em 6.5em;
    letter-spacing: 0.1em;
    margin-bottom: 4vh;
  }

  .spaceResult {
    margin-top: 3vh;
  }

  .submitBtn {
    margin-top: 7.5vh;
  }
}
