body {
  font-size: 1.35vw;
  /* overflow-x: scroll; */
  /* font-size: 1.65vw; */
  background-color: rgb(1, 7, 24);
}

pre {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 2.5vw;
  background-color: rgb(12, 49, 70);
  padding: 0.5em 2vw;
  margin-top: 8vh;
  line-height: 1;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li,
a {
  margin-left: 1em;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.9vw;
}

li {
  color: rgb(191, 208, 223);
  margin-bottom: 3em;
}

li.description {
  color: lightseagreen;
}

li strong {
  color: rgb(216, 127, 94);
}

.method {
  color: rgb(189, 202, 132);
}

.page {
  color: #c47ff1;
}

.smaller {
  font-size: 2vw;
}

a {
  font-size: 3vw;
  color: lightpink;
  text-decoration: none;
}

a:hover {
  transition: all 0.3s;
  color: aqua;
  text-decoration: underline;
}

figcaption {
  color: aliceblue;
}

.space {
  margin-top: 4vh;
}

.japanese {
  color: rgba(218, 218, 39, 0.815);
  font-family: "Kosugi Maru", sans-serif;
  list-style-type: none;
}

strong.colored {
  color: rgb(236, 148, 231);
}

span.colored {
  color: rgb(240, 124, 130);
}

@media screen and (min-width: 859px) and (max-width: 1024px) {
  body {
    font-size: 2vw;
  }

  h1 {
    font-size: 3.7vw;
  }
  li,
  a {
    font-size: 3vw;
  }

  .smaller {
    font-size: 2vw;
  }
}

.noMargin {
  margin: 0;
}

@media screen and (max-width: 858px) {
  body {
    font-size: 2vw;
  }

  br {
    display: none;
  }

  h1 {
    font-size: 4vw;
    background-color: rgb(12, 49, 70);
    padding: 0.5em 2vw;
    margin-top: 2vh;
    line-height: 1;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  li,
  a {
    margin-left: 0.5em;
    margin-right: 1.5em;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 3.2vw;
    margin-bottom: 3em;
    word-wrap: break-word;
  }

  li {
    color: rgb(191, 208, 223);
  }

  li.description {
    color: lightseagreen;
  }

  a {
    font-size: 4.5vw;
    font-weight: bold;
    color: lightpink;
    text-decoration: none;
  }

  .smaller {
    font-size: 2vw;
  }

  .space {
    margin-top: 10vw;
  }

  .noMargin {
    margin: 0;
  }
}
